body {
    background-color: grey;
    color: white;

}
input.listele{
    width: 26px;
    height: 26px;
}
.listele{
    float:right;
    clear: both;
}
.des{
    float: left;
    clear:both
}
.Parent{
    display: flex;
    text-align: center;
    line-height: 0px;
}
.Right-Child{
    flex: 1;
    margin: 10px
}
.Left-Child{
    flex: 1;
    margin: 10px
}
